@CHARSET "UTF-8";

#top_bar
{
	position: fixed;
	height:30px;
	width: 100%;
	background-color:green;
	margin-left:-8px;
	margin-right:-8px;
	margin-top:-8px;
	padding-left: 20px;
}

.navigation_a
{
	text-decoration: none;
}

.navigation_d
{
	float: left;
	padding: 2px 10px;
	color: white;
	font-size: 22px;
}

#main_controls
{
	top:40px;
	width: 70px;
	/* border: 1px solid blue; */
	position: fixed;	
}

#header
{
	top:40px;
	left: 100px;
	/*border: 1px solid red;*/
	position: fixed;
}

#container
{
	top:110px;
	left:100px;
	width: 90%;
	height: 80%;
	/* border: 1px solid black; */
	position: absolute;
	z-index: -2;

}

#scroll
{
	height: 96%;
	overflow: auto;
}

table
{
	border-collapse: collapse;
}

table, tr, td, th
{
	border: 1px solid black;
	text-align: center;
	vertical-align: center;
}
td, th
{
	padding: 0px 5px;
}

td.checkbox
{
		
}

.selected
{
	background-color: blue;	
}